<div class="container">
    <div class="row align-items-center">
        <div class="col-sm px-md-5">
            <div class="card" style="width: 18rem;">
                <img src="\assets\midiadigital1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Fanart de "Prodigal Daughter" da cantora Lights, 2021.</p>
                </div>
            </div>
        </div>
        <div class="col-sm px-md-5">
            <div class="card" style="width: 18rem;">
                <img src="\assets\midiadigital2.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Logo para a gelateria Delicat, 2021.</p>
                </div>
            </div>
        </div>
        <div class="divBotao">
          <button type="button" class="btn btn-primary" routerLink="/app-incluirmidia">Incluir Arte</button>
        </div>
