<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Opções</label>
  </div>
  <select class="custom-select" id="inputGroupSelect01">
    <option selected>Escolher...</option>
    <option value="1">Mídia Física</option>
    <option value="2">Mídia Digital</option>
  </select>
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroupFileAddon01">Arquivo</span>
    </div>
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
      <label class="custom-file-label" for="inputGroupFile01">Escolher arquivo</label>
    </div>
    <div class="input-group-prepend">
      <span class="input-group-text">Descrição</span>
    </div>
    <input type="text" aria-label="descricao" class="form-control">
  </div>
<div class="botaoEnviar">
  <button type="button" class="btn btn-primary">Enviar</button>
</div>
